* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 0 0 10px #0000005d;
}

.accordion_container {
    max-width: 800px;
    margin: 10px;

    box-shadow: 0 0 10px #0000004b;
    border-radius: 4px;
    backdrop-filter: blur(5px);
}

.accordion_header {
    width: 100%;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border-bottom: 1px solid #fff;
}
.accordion_header.active {
    border-bottom: none;
    transition: all .4s ease-in-out;
}

.accordion_header:nth-last-child(2) {
    border-bottom: none;
}
.fas.fa-sort-down{
    transition: all .4s ease-in-out;
}

.accordion_header.active .fas.fa-sort-down{
    transform: rotate(180deg);
    transition: all .4s ease-in-out;
}

.accordion_content {
    margin-left: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.accordion_content.active {
    max-height: 300px;
    border-left: 4px solid #00c040;
    transition: all .4s ease-in-out;
}

.accordion_content p {
    padding: 20px;
}

i {
    font-weight: 500;
}
